*.iml
/.idea
/android/.gradle
/android/local.properties
/android/.idea
/android/build/
/android/.kotlin
.DS_Store
# /build  <-- Allow our specialized build artifact
/protoc
/captures
.externalNativeBuild
.cxx
local.properties

.vscode
.claude
.zed

# Swift PM
Packages
.build/
xcuserdata
DerivedData/
*.xcodeproj

# Artifacts
# valhalla-wrapper.xcframework  <- Allow this to be committed
valhalla-wrapper.xcframework.zip
libvalhalla-wrapper.so

# Openapi temp
.openapi-temp

# Gradle other
/.gradle
/wrapper/.gradle

# VCPKG
/vcpkg
